*.DS_Store
*/.DS_Store

/.agent.db
/Cache/
/Data/
/Launcher.db
/SetupOSX.mpq
/Updates/
/World of Warcraft Launcher.app/
/World of Warcraft-64.app/
/World of Warcraft.app/
/WoW.mfil
/WoW.pfil
/WoW.tfil
/WTF/Config.wtf
/Interface/AddOns/Blizzard_AchievementUI/
/Interface/AddOns/Blizzard_ArchaeologyUI/
/Interface/AddOns/Blizzard_ArenaUI/
/Interface/AddOns/Blizzard_AuctionUI/
/Interface/AddOns/Blizzard_BarbershopUI/
/Interface/AddOns/Blizzard_BattlefieldMinimap/
/Interface/AddOns/Blizzard_BindingUI/
/Interface/AddOns/Blizzard_BlackMarketUI/
/Interface/AddOns/Blizzard_Calendar/
/Interface/AddOns/Blizzard_ChallengesUI/
/Interface/AddOns/Blizzard_ClientSavedVariables/
/Interface/AddOns/Blizzard_CombatLog/
/Interface/AddOns/Blizzard_CombatText/
/Interface/AddOns/Blizzard_CompactRaidFrames/
/Interface/AddOns/Blizzard_CUFProfiles/
/Interface/AddOns/Blizzard_DebugTools/
/Interface/AddOns/Blizzard_EncounterJournal/
/Interface/AddOns/Blizzard_GlyphUI/
/Interface/AddOns/Blizzard_GMChatUI/
/Interface/AddOns/Blizzard_GMSurveyUI/
/Interface/AddOns/Blizzard_GuildBankUI/
/Interface/AddOns/Blizzard_GuildControlUI/
/Interface/AddOns/Blizzard_GuildUI/
/Interface/AddOns/Blizzard_InspectUI/
/Interface/AddOns/Blizzard_ItemAlterationUI/
/Interface/AddOns/Blizzard_ItemSocketingUI/
/Interface/AddOns/Blizzard_ItemUpgradeUI/
/Interface/AddOns/Blizzard_LookingForGuildUI/
/Interface/AddOns/Blizzard_MacroUI/
/Interface/AddOns/Blizzard_MovePad/
/Interface/AddOns/Blizzard_PetBattleUI/
/Interface/AddOns/Blizzard_PetJournal/
/Interface/AddOns/Blizzard_PVPUI/
/Interface/AddOns/Blizzard_QuestChoice/
/Interface/AddOns/Blizzard_RaidUI/
/Interface/AddOns/Blizzard_ReforgingUI/
/Interface/AddOns/Blizzard_TalentUI/
/Interface/AddOns/Blizzard_TimeManager/
/Interface/AddOns/Blizzard_TokenUI/
/Interface/AddOns/Blizzard_TradeSkillUI/
/Interface/AddOns/Blizzard_TrainerUI/
/Interface/AddOns/Blizzard_VoidStorageUI/
/Logs/
/Interface.zip

/World of Warcraft Launcher.exe
/Wow-64.exe
/Wow.exe
/dbghelp.dll

/.curseclient
/BlizzardError.exe
/DivxDecoder.dll

/Archive.zip